/*Zera todas as medidas do body*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

/*Zera as medidas do form*/
form {
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/*Dá cor de fundo para o body*/
body {
    background-color: rgb(237, 234, 231);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/*Formata o cabeçalho*/
header {
    background-color: #8CA19A;
    width: 100%;
    height: 150px;
}

/*Formata a div responsável pela logo*/
#div_logo {
    height: 100%;
    width: 20%;
    float: left;
    display: flex;
    align-items: center;
}

/*Formata a logo*/
#div_logo img {
    width: 70%;
    margin-left: 5%;
}

/*Formata a "div" responsável pelo menu de navegação*/
nav {
    width: 80%;
    float: right;
    height: 100%;
    align-items: center;
}

/*Formata a ul do menu de navegação*/
#ul_nav {
    width: 100%;
    height: 100%;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
}

/*Formata os textos do menu de navegação*/
#ul_nav li {
    font-weight: bold;
    color: white;
    font-size: 1.4em;
    list-style-type: none;
    display: inline-block;
    text-align: justify;
    padding-top: 12px;

}

#div_pesquisa {
    display: flex;
    height: 100%;
    align-items: center;
}

#div_pesquisa input {
    height: 28px;
    border-radius: 3px;
    margin-right: 1%;
    width: 200px;

}

/*Coloca o símbolo do perfil*/
.material-symbols-outlined {
    color: white;
    cursor: pointer;
}

/*Formata o icon do carrinho*/
#icon_carrinho {
    margin-left: 15px;
    margin-top: 3px;

}

#icon_logout {
    margin-left: 15px;
}

/*Formata o menu de navegação quando o mouse passar por cima*/
#ul_nav li:hover {
    text-decoration: underline;
}

/*Formata o conteúdo do site*/
main {
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-family: Arial, Helvetica, sans-serif;
}

/*Section da foto de perfil*/
.foto_perfil {
    width: 55%;
    display: flex;
    justify-content: center;
    position: relative;
}

/*Formata a foto de perfil*/
.image {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

/*Section do nome do perfil*/
.nome_perfil {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    width: 55%;
    flex-wrap: wrap;
}

/*Section do nome do perfil*/
.nome_perfil h2 {
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
}

#icon_editar {
    color: black;
    margin-left: 10px;
}

#icon_foto_editar {
    color: black;
    overflow: hidden;

}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
.section_informacoes {
    width: 55%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
}

.section_alterar {
    width: 55%;
    display: flex;
    justify-content: space-evenly;
}

.linha {
    width: 2px;
    height: 250px;
    background-color: gray;
    margin-top: -50px;
}

.informacoes_esq {
    width: 40%;
}

.informacoes_dir {
    width: 40%;
}

.alterar_basicas {
    width: 50%;
    display: flex;
    justify-content: center;
}

.alterar_adicionais {
    width: 50%;
    display: flex;
    justify-content: center;
}

.alterar_basicas button {
    background-color: #8CA19A;
    border: 1px solid #ddd;
    color: white;
    width: 300px;
    padding: 15px;

}

#file {
    display: none;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    margin-left: -1px;
    width: 100%;
    display: inline-block;
    border: none;
    outline: none;
    background-color: white;

}

select:disabled {
    color: black;
    opacity: 1;
    background-color: rgb(237, 234, 231);
}

.salvar button {
    background-color: #8CA19A;
    border: 1px solid #ddd;
    color: white;
    width: 230px;
    padding: 15px;
    visibility: hidden;
}

.salvar button:hover {
    background: #2c6955;
}

.alterar_basicas button:hover {
    background: #2c6955;
    transition: all .4s ease-in-out;
}

.alterar_adicionais button {
    background-color: #8CA19A;
    border: 1px solid #ddd;
    color: white;
    width: 300px;
    padding: 15px;

}

.alterar_adicionais button:hover {
    background: #2c6955;
    transition: all .4s ease-in-out;
}

#informacoes_basicas {
    border-collapse: collapse;
    width: 100%;
    border-radius: 4px;
}

#informacoes_basicas td {
    border: 1px solid gray;
    text-align: left;
    padding: 8px;
}

#informacoes_basicas td:first-of-type {
    border-right-color: transparent;
}

/*Formata o rodapé*/
footer {
    margin-top: 200px;
    height: 450px;
    background-color: #4d504f;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

/*Formata as div dentro do rodapé*/
footer div {
    width: 33.33%;
    display: flex;
    justify-content: center;
}

/*Formata a div do meio no footer*/
#div_footer_meio {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Formata a logo no rodapé*/
#div_footer_meio img {
    width: 120px;
    height: 100px;
    margin-top: 30px;

}

/*Formata as imagens das redes sociais no rodapé*/
#div_footer_dir img {
    width: 50px;
    height: 50px;
    margin-top: 30px;
    margin-right: 100px;
}

/*Formata a div que tá na direita no rodapé*/
#div_footer_dir {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

/*Formata a div que tá na esquerda no rodapé*/
#div_footer_esq {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#div_footer_esq li {
    margin-top: 20px;
    list-style-type: none;
    color: white;
}

#direitos_autorais {
    width: 100%;
    text-align: center;
    background-color: #4d504f;
    color: #fff;
}